.form-control {
    border-bottom: 1px solid #ced4da;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
    font-size: 100% !important;
}

.card-header {
    font-size: 1.05em;
}

textarea {
    height: 300px !important;
}